.home {
  h1 {
    color: #FCCF31;
    font-weight: 700;
    max-width: 60vh;
  }
  background-image: url(https://img2.thuthuatphanmem.vn/uploads/2019/02/22/hinh-nen-gai-xinh-de-thuong-nhat_121751137.jpg);
  height: inherit;
  background-repeat: no-repeat;
  background-size: contain;
}
